.my-day {
  min-height: 100vh;

  .my-day--header {
    display: flex;
    justify-content: space-between;
  }

  .my-day--greeting {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
